@media (max-width:768){
    .section__cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: red;
        color: white;
    }
}

@media (max-width:734){}


@media (max-width:684){}


@media (max-width:667){}
